
/**Mont**/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


/**Roboto**/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    height: 100vh;
    background-color: #172D13;
}





/**Nav**/
nav {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 5.5em;
    display: inline-block;
    color:#fff;
  }
  
  nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color:#fff;
  }

  nav span{
    color: #D76F30;
  }
  
  nav a:hover {
    color: #D76F30;;
  }


/**Display Text**/

.displayWrap h2{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    top: 50%;
    left:50%;
    font-size: 6em;
    transform: translate(-50%, -50%) !important;
    width: 100%;
    text-align: center;
    color:#fff;

}

.displayWrap h2 span{
    color: #D76F30;
}



section{
    font-family: 'Montserrat', sans-serif;
    top: 100vh;
    position: relative;
    display: grid;
    align-content: center;
    min-height: 120vh;
    transition: 400ms ease-in-out;
}

header{
    position: absolute;
    top: 50%;
    left:50%;
    font-size: 6em;
    transform: translate(-50%, -50%) !important;
    width: 100%;
    text-align: center;
    color:#D76F30;;
    font-family: 'Montserrat', sans-serif;
    align-content: center;
    font-size: 2.2em;
    max-width: 150vh;
}

header p{
    color: #fff;
    font-size: 1em;
}

section h2{
    align-content: center;
    color: #fff;
    place-items:left;
    font-size: 2.2em;
    max-width: 150vh;
}

section h1{
    color:#6BB77B;
    place-items:left;
    font-size: 5em;
    max-width: 120vh;

}

section p {
    margin-top: 20px;
    place-items: center;
    color: #fff;
    font-size: 2em;
    max-width: 120vh;
}

section p span {
    color: #D76F30;
}

.logo img{
    object-fit: cover;
    width: 190px;
    padding-right: 10px;
    height: 100px;
}

.recents p{
    text-decoration: none;
    list-style: none;
    font-size: 1.5em;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.recents p:hover{
    color: #D76F30;
}






img:hover{
    transform: scale(.9);
}

a:hover span{
    text-shadow: 0 0 10px #D76F30;
}

.imageWrap{
    margin-top: 88px;
   display: flex;
   width: 100%;
}

.logo:nth-child(2){
    transition-delay: 200ms;
}

.logo:nth-child(3){
    transition-delay: 400ms;
}

.logo:nth-child(4){
    transition-delay: 600ms;
}


footer{
    font-family: 'Montserrat', sans-serif;
    margin-top: 30vh;
    place-items: center;
    color: #fff;
    font-style: italic;
    font-size: 1.7em;
    max-width: 120vh;
    top: 50vh;
    position: relative;
    display: grid;
    align-content: center;
    min-height: 120vh;
    max-width: 120vh;
    transition: 400ms ease-in-out;
}

.footerList{
    padding: 10px;
    width: 100%;
    font-size: .5em;
    border-top: solid #fff;
    text-decoration: none;
    color:#fff;
}
.footerList ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footerList li {
    margin-top: 1em;
    margin-right: 5em;
    display: inline-block;
    color:#fff;
  }

  .footerList a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color:#fff;
  }
  
  .footerList a:hover {
    color: #D76F30;;
  }




footer p span {
    color: #D76F30;
}

#aboutMe{
    font-size: .8em;
    font-style: italic;
}

#aboutMe img{
    max-width: 70vh;
    max-height: fit-content;
    margin: 4vh 0;
}



.listingStuff{
    font-size: 1em;
}

.listingStuff ul>li{
    margin-top: 20vh;
}

.seperation{
    margin-top: 50vh;
    color: #D76F30;
    text-align: center;
}






.hidden{
opacity: 0;
filter: blur(5px);
transform: translateX(-100%);
transition: all 1s;
}

@media(prefers-reduced-motion){
    .hidden{
        transform: none;
    }

}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.duringUni{
    margin-top: 40vh;
}

.ads{
    margin-top: -40vh;
}






 @media (min-width: 0px) and (max-width:700px){
       
        body{
            height: 100vh;
        }

        nav{
            font-size: .65rem;
            margin-right: -10em;
        }

        nav span{
            font-size: .7rem;
            left: -100vh;
        }

        .footerList{
            left:0;
            font-size: .7rem;
            margin-left: -10em;
            margin-right: -10em;
        }

        .displayWrap{
            font-size: .5em;
        }
    
        section{
            max-width: 140vh;
        }
    
        section h2{
            font-size: 1.7em;
        }
    
        section h1{
            font-size: 3em;
        }
        .logo img{
            object-fit: cover;
            width: 6em;
            padding-right: 10px;
            height: 4em;
        }
    
        section p{
            width: 70%;
            position: relative;
            font-size: 1.5em;}

            .ads{
                margin-top: 5vh;
            }
    }
    
    
